<canvas id="veil"></canvas>
<span id="cadre" class="button"></span>
<div id="center-panel">
	<div id="text-artwork"><p>{{{experiment.text}}}</p></div>
	<div id="text-artwork-revealed"><p>{{{experiment.textRevealed}}}</p></div>
	<img id="scroll-button" class="hidden" draggable="false" src="img/fleche_scroll.svg"></img>
	<div id="artwork-container">
		<img id="artwork" draggable="false" src="img/{{experiment.artwork}}"></img>
		<img id="artworkRevealed" draggable="false" src="img/{{experiment.artworkRevealed}}"></img>
		<p id="cartouche-right">{{experiment.cartoucheRight}}</p>
		<p id="cartouche-bottom">{{experiment.cartoucheBottom}}</p>
	</div>
</div>


