<div id="word-block-left">
	<span class="button" id="word-close">FERMER<img src="img/close.svg"></img></span>
	<h1>{{word}}</h1>
	<p>{{text}}</p>
	<a class="button" href="http://{{link}}" target="_blank"><img src="img/fleche_siteweb.svg"></img>{{linkText}}</a>
</div>
<div id="word-block-right">
	<img src="img/{{img}}"></img>
</div>
